.idea
/helm/api-platform/charts/*
!/helm/api-platform/charts/.gitignore
api/.env.local
compose.override.yaml
compose.override.yml
.pnpm-store
/.env
.env.local
runtime-env.d.ts

# Bruno api client
docs/api/teatea/environments
